<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/css/main.css">
    <title>DriveTest</title>
</head>
<%- include('layouts/header'); -%>
<body>
    
    <%- include('layouts/navbar'); -%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/driver.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Drive Test</h1>
                            <span class="subheading">Driver's Portal</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h2>G Slot Booking</h2>
                    <form action="/search/app" method="post" enctype="multipart/form-data">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <input type="date"  class="form-control" name="date" required>                            
                            </div>
                        </div><br>
                        <div class="form-group">
                            <button name="submit" class="btn btn-primary">View Slot</button>
                        </div>
                    </form> 
                    <div class="col-md-10 col-lg-8 col-xl-7"></div>
                    <h1>Appointment/s available</h1>
                        <% if(typeof gTest != "undefined"){%>
                            <% if(gTest.length === 0) {%>
                                <h3>No appointments available</h3>
                            <% } %>
                            <% for(var i =0 ; i < gTest.length ; i++) { %>
                                <hr>
                                
                                <form action="/view/G" method="post" enctype="multipart/form-data">
                                    Date : <input type="text" class="form-control" name="date" value="<%= gTest[i].date%>" readonly>
                                    Time : <input type="text" class="form-control" name="time" value="<%= gTest[i].time%>" readonly>
                                    Location : <input type="text" class="form-control" name="location" value="<%= gTest[i].location%>" readonly><br>
                                    <input type="text" class="form-control" name="appointment_appid" value="<%= gTest[i].id%>" hidden>
                                    
                                    <button name="submit" class="btn btn-success">Book Slot</button><br>
                                </form>

                            <%}%>
                        <% } %>
                    </div>
                    <div class="col-md-10 col-lg-8 col-xl-7 success">
                        <% if(typeof isAppBooked != "undefined"){ %>

                            <div class="alert alert-success" role="alert">
                                You have successfully booked appointment for G2 test
                            </div>
                            <div>
                                Date : <%= app_details.date %> <br>
                                Time : <%= app_details.time %> <br>
                                Location : <%= app_details.location %>

                            </div>
                        <% } %>
                    </div>
                </div>
                </div>
                
            </div>
        </div>
        <!-- Footer-->
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>       

</body>
</html>